body {
    width: 1000px;
    background-color: lightslategray;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                                
  }
  
  @keyframes moveBackground {
    0%,
    100% {
      background-position: 100% 100%;
    }
    50% {
      background-position: 0% 0%;
    }
  }
  .navbar {
    background-color: transparent !important;

  }

.starLogo {
  width: 20%;
}


                                                            